.VPDoc:not(.has-sidebar) .container {
    margin: 0 auto !important;
    max-width: var(--vp-layout-max-width) !important;
}

.VPDoc:not(.has-sidebar) .container .content {
    max-width: none !important;
}

.vp-doc table {
    margin: 0;
}

/* 
.VPSidebar {
    background-color: unset !important;
}

.VPSidebar .curtain {
    background-color: unset !important;
}
*/

.VPDoc.has-aside .container .content {
    margin: 0 !important;
}

.VPDoc.has-aside .content-container {
    max-width: unset !important;
}
.vp-doc .el-table .cell {
    /* Fix line breaks in Firefox */
    word-break: break-word;
    white-space: pre-line;
}
